<!--<div class="content-wrapper">-->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fournisseur Details</h4>
        <form class="form-sample" (ngSubmit)="Update()">
          <p class="card-description"></p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom du founirsseur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="FourName" placeholder="Enter name" name="FourName" [(ngModel)]="fournisseur.nomF">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="EmailF" name="EmailF" [(ngModel)]="fournisseur.email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Pays</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="PaysFour" placeholder="Enter name" name="PaysFour" [(ngModel)]="fournisseur.payes">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Ville</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="VilleF" name="VilleF" [(ngModel)]="fournisseur.ville">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Telephone</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="TeleFour" placeholder="Enter name" name="TeleFour" [(ngModel)]="fournisseur.tele">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button type="button" class="btn btn-light  mr-5" (click)="Quit()">Quit</button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
