<!--<div class="content-wrapper">-->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Context</h4>
        <form class="form-sample" (ngSubmit)="ngOnInit()">
          <p class="card-description"></p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Designation</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="designation" placeholder="Enter designation" name="designation" [(ngModel)]="SearchCriteria.designation">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Magasin</label>
                <div class="col-sm-9">
                  <kendo-dropdownlist [data]="Magasins"
                                      [textField]="'nomMagasin'"
                                      valueField="id"
                                      [(ngModel)]="SelectedMagasin" name="MagasinsDDL">
                  </kendo-dropdownlist>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button class="btn btn-light  mr-5" (click)="InitSearchCriteria()">Reset</button>
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
      <div class="col-md-12 col-sm-12">
        <br />

        <button type="button" class="btn btn-dark btn-fw float-right" data-toggle="modal" data-target="#userModal">Add user</button>
        <h4 class="card-title">Article Table</h4>
      </div>
      <div class="card-body">
        <div class="grid-wrapper">
          <!--<div id="grid"></div>-->
          <!--          <div *ngIf="Isloading" class="k-i-loading"></div>-->
          <kendo-grid [kendoGridBinding]="artcilesData"
                      [pageSize]="20"
                      [pageable]="true"
                      [sortable]="true"
                      [groupable]="true"
                      [reorderable]="true"
                      [resizable]="true"
                      [height]="480"
                      [columnMenu]="{ filter: true }">
            <kendo-grid-column title="DESIGNATION" field="designation"></kendo-grid-column>
            <kendo-grid-column title="UNIT" field="unit"></kendo-grid-column>
            <kendo-grid-column title="PRIX" field="prix"></kendo-grid-column>
            <kendo-grid-column title="EMPLACEMENT" field="emplacement"></kendo-grid-column>
            <kendo-grid-column field="CATEGORIE_ART.nomCate" title="CATEGORIE ART">
            </kendo-grid-column>
            <kendo-grid-column field="FOURNISSEUR.numF" title="FOURNISSEUR">
            </kendo-grid-column>
            <kendo-grid-column field="MAGASIN.nomMagasin" title="MAGASIN">
            </kendo-grid-column>
            <kendo-grid-column title="Action">
              <ng-template kendoGridCellTemplate let-articleDataItem>
                <button class="close rounded-circle col-md-6" kendoButton (click)="DeleteArticle(articleDataItem.id)">
                  <span aria-hidden="true">&times;</span>
                </button>
                <button class="close rounded-circle col-md-6" kendoButton (click)="UpdateArticle(articleDataItem.id)">
                  <i class="fa fa-eye"></i>
                </button>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-messages filterContainsOperator="Contient"
                                 filterEndsWithOperator="Termine par"
                                 filterEqOperator="égale"
                                 filterNotEqOperator="Différent de"
                                 filterNotContainsOperator="Ne contient pas"
                                 filterStartsWithOperator="Commence par"
                                 filterIsNullOperator="Est Null"
                                 filterIsNotNullOperator="N'est pas NULL"
                                 filterIsEmptyOperator="Est vide"
                                 filterIsNotEmptyOperator="N'est pas Vide"
                                 noRecords="Aucun élément a afficher"
                                 filter="Filtrer"
                                 columns="Colonnes"
                                 columnsApply="Confirmer"
                                 columnsReset="Supprimer"
                                 sortAscending="Tri ascendant"
                                 sortDescending="Tri descendant"
                                 pagerOf="de"
                                 groupPanelEmpty="Faites glisser les colonnes ici pour grouper">
            </kendo-grid-messages>
          </kendo-grid>
          <div *ngIf="Isloading" class="k-i-loading"></div>
        </div>
      </div>
    </div>
  </div>
</div>
