<!--<div class="content-wrapper">-->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User Details</h4>
        <form class="form-sample" (ngSubmit)="Update()">
          <p class="card-description"></p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom Complet</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nameMagasin" placeholder="Enter name" name="nameMagasin" [(ngModel)]="magasin.nomMagasin">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button type="button" class="btn btn-light  mr-5" (click)="Quit()">Quit</button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
