<!--<div class="content-wrapper">-->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Context</h4>
        <form class="form-sample" (ngSubmit)="ngOnInit()">
          <p class="card-description"></p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom Complet</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="FulName" placeholder="Enter full name" name="fullName" [(ngModel)]="SearchCriteria.username">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Role</label>
                <div class="col-sm-9">
                  <kendo-dropdownlist [data]="Roles"
                                      [textField]="'Label'"
                                      valueField="id"
                                      [(ngModel)]="SelectedRole" name="RolesDDL">
                  </kendo-dropdownlist>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-right">
              <button class="btn btn-light  mr-5" (click)="InitSearchCriteria()">Reset</button>
              <button type="submit" class="btn btn-success">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
      <div class="col-md-12 col-sm-12">
        <br />

        <button type="button" class="btn btn-dark btn-fw float-right" data-toggle="modal" data-target="#userModal">Add user</button>
        <h4 class="card-title">Users Table</h4>
      </div>
      <div class="card-body">
        <div class="grid-wrapper">
          <!--<div id="grid"></div>-->
          <!--          <div *ngIf="Isloading" class="k-i-loading"></div>-->
          <kendo-grid [kendoGridBinding]="gridData"
                      [pageSize]="20"
                      [pageable]="true"
                      [sortable]="true"
                      [groupable]="true"
                      [reorderable]="true"
                      [resizable]="true"
                      [height]="480"
                      [columnMenu]="{ filter: true }">
            <kendo-grid-column title="Nom Complet" field="fullName"></kendo-grid-column>
            <kendo-grid-column title="Nom Utilisateur" field="userName"></kendo-grid-column>
            <kendo-grid-column field="email" title="Email">
              <!--<ng-template kendoGridCellTemplate let-dataItem>
      <a [routerLink]="['/Users/UsersDetails',dataItem.id]">
        {{ dataItem.email }}
      </a>
    </ng-template>-->
            </kendo-grid-column>
            <kendo-grid-column title="Role" field="roleLabel"></kendo-grid-column>
            <kendo-grid-column title="Numéro de téléphone" field="phoneNumber"></kendo-grid-column>
            <kendo-grid-column title="Action">
              <ng-template kendoGridCellTemplate let-dataItem>
                <button class="close rounded-circle col-md-6" kendoButton (click)="DeleteUser(dataItem.id)">
                  <span aria-hidden="true">&times;</span>
                  <!--<i class="fa fa-window-close"></i>-->
                </button>
                <button class="close rounded-circle col-md-6" kendoButton (click)="UpdateUser(dataItem.id)">
                  <i class="fa fa-eye"></i>
                </button>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-messages filterContainsOperator="Contient"
                                 filterEndsWithOperator="Termine par"
                                 filterEqOperator="égale"
                                 filterNotEqOperator="Différent de"
                                 filterNotContainsOperator="Ne contient pas"
                                 filterStartsWithOperator="Commence par"
                                 filterIsNullOperator="Est Null"
                                 filterIsNotNullOperator="N'est pas NULL"
                                 filterIsEmptyOperator="Est vide"
                                 filterIsNotEmptyOperator="N'est pas Vide"
                                 noRecords="Aucun élément a afficher"
                                 filter="Filtrer"
                                 columns="Colonnes"
                                 columnsApply="Confirmer"
                                 columnsReset="Supprimer"
                                 sortAscending="Tri ascendant"
                                 sortDescending="Tri descendant"
                                 pagerOf="de"
                                 groupPanelEmpty="Faites glisser les colonnes ici pour grouper"
                                 >
            </kendo-grid-messages>
          </kendo-grid>
          <div *ngIf="Isloading" class="k-i-loading"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form class="forms-sample" (ngSubmit)="AddUser(userModel)" validate>
                <div class="form-group">
                  <label for="exampleInputEmail1">Adresse Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="userModel.email" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Nom de l'utilisateur</label>
                  <input type="email" class="form-control" id="username" placeholder="Enter User Name" name="username" [(ngModel)]="userModel.username" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Nom Complet</label>
                  <input type="email" class="form-control" id="fullName" placeholder="Enter full Name" name="fullName" [(ngModel)]="userModel.fullName" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="Password" placeholder="Password" name="Password" [(ngModel)]="userModel.Password" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Repeter mot de passe</label>
                  <input type="password" class="form-control" id="RepeatedPassword" placeholder="Password" name="RepeatedPassword" [(ngModel)]="userModel.RepeatedPassword" required>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect3">Role</label>
                  <select class="form-control form-control-sm" id="role" [(ngModel)]="userModel.roleLabel" name="role" required>
                    <option>Gestionnaire</option>
                    <option>Superviseur</option>
                    <option>Admin</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
