<!--<div class="content-wrapper">-->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Article Details</h4>
        <form class="form-sample" (ngSubmit)="Update()">
          <p class="card-description"></p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Designation</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="Designation" placeholder="Enter designation" name="designation" [(ngModel)]="article.designation">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Quantité à modifier</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="Quantite" placeholder="Enter quantité" name="quantite" [(ngModel)]="article.quantite">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Unit</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="Unit" placeholder="Enter unit" name="unit" [(ngModel)]="article.unit">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prix</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="Prix" placeholder="Enter prix" name="prix" [(ngModel)]="article.prix">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Magasin</label>
                <div class="col-sm-9">
                  <kendo-dropdownlist [data]="Magasins"
                                      [textField]="'nomMagasin'"
                                      valueField="id"
                                      [(ngModel)]="SelectedMagasin" name="MagasinsDDL">
                  </kendo-dropdownlist>
                </div>
              </div>
            </div>
          </div>
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-light  mr-5" (click)="Quit()">Quit</button>
              <button type="submit" class="btn btn-success">Update</button>
            </div>
</form>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
