  <!-- partial:partials/_sidebar.html -->
<ul class="nav">
  <li class="nav-item nav-profile">
    <a href="javascript:void(0)" class="nav-link" (click)="EditProfile()">
      <div class="profile-image">
        <!--<img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">-->
        <img class="img-xs rounded-circle" src="{{appImage$ | async}}" alt="profile image">
        <div class="dot-indicator bg-success"></div>
      </div>
      <div class="text-wrapper">
        <p class="designation">{{userRole$ | async}}</p>
        <p class="profile-name">{{userName$ | async}}</p>
      </div>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="GetArticle()">
      <i class="menu-icon typcn typcn-user-outline"></i>
      <span class="menu-title">Article</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="(RoleId$| async)== 3">
    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <i class="menu-icon typcn typcn-coffee"></i>
      <span class="menu-title">Administration</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="GetUsers()">
            <i class="menu-icon typcn typcn-user-outline"></i>
            <span class="menu-title">Utilisateurs</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
