  <!-- partial:partials/_sidebar.html -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="GetUsers()">
      <i class="menu-icon typcn typcn-user-outline"></i>
      <span class="menu-title">Users</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="GetStock()">
      <i class="menu-icon typcn typcn-user-outline"></i>
      <span class="menu-title">Stock</span>
    </a>
  </li>
</ul>
