<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <clear />
    <add name="SolarThermalEntities"
       connectionString="metadata=res://*/SolarModel.csdl|res://*/SolarModel.ssdl|res://*/SolarModel.msl;provider=System.Data.SqlClient;provider connection string=data source=(local);initial catalog=SolarThermal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
       providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <connectionStrings>
    <add  name="SolarThermalEntities" 
          connectionString="data source=(local)\sqlexpress;initial catalog=DB_PROMES;integrated security=True;MultipleActiveResultSets=True" 
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>




